{{ define "main" }}
    <header class="w-full">
        <h1>{{ .Title }}</h1>

        <p>
            Written
            {{ with .Params.params.author }}
                by
                {{ . }}
            {{ end }}
            on
            {{ .Date.Format "2006-01-02" }}
        </p>
    </header>
    <article class="w-full">
        {{ .Content }}
    </article>
    <aside class="w-full">
        {{ with .GetTerms "tags" }}
            <p>
                <strong>Tags:</strong>
            </p>
            <ul>
                {{ range . }}
                    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    </aside>
{{ end }}
